<section class="hero">
    <div class="hero-content">
        <div class="hero-text">
            <h1>Dales una segunda oportunidad con amor</h1>
            <p>
                Gestiona adopciones de mascotas de forma simple, ordenada y humana.
                Registra solicitudes, haz seguimiento y encuentra el hogar ideal.
            </p>
            <button routerLink="/adoptions">Ir al CRUD de adopciones</button>
        </div>
        <div class="hero-image">
            <img src="https://i.pinimg.com/736x/7d/93/45/7d9345e035f2278ce3a116e1dfd83dc6.jpg"
                alt="Mascota en adopcion">
        </div>
    </div>
</section>